@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;

  background-color: #101214;
  color: #dee4ea;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
